.description {
  padding:20px;
}
.description__title {
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 40px;
text-align: center;
color:@black;
}
.description__text {
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: @special_dark_grey;
}
