.example {
  padding: 20px;
  background-color: #EAEAEA;
}
.example__title, .example__text, .example__subject, .example__des, .example__summa {
font-style: normal;
font-weight: normal;
}
.example__title, .example__subject, .example__summa {
font-family: Oswald;
text-align: center;
color: @black;
}
.example__text, .example__des {
font-family: Arial;
color:@special_dark_grey;
}
.example__title {
font-size: 36px;
line-height: 40px;
}
.example__text {
font-size: 14px;
line-height: 18px;
}
.example__subject {
font-size: 24px;
line-height: 24px;
}
.example__des {
font-size: 12px;
line-height: 12px;
text-align: center;
}
.example__summa {
font-size: 14px;
line-height: 20px;
text-transform: uppercase;
}
