.page-main {
  padding: 20px;
}

.page-main__title-catalog {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @black;
}
